[user]
	; email = 
	name = Victor Colombo
[alias]
	uncommit = reset HEAD^
	lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	st = status -sb
	gl = config --global -l
[core]
	pager = less -FRX