[user]
	; email = 
	name = Victor Colombo
[alias]
	uncommit = reset HEAD^
	lg = log --abbrev-commit -30 --graph --pretty=format:\"%C(red)%h%Creset -%C(yellow)%d%Creset %s %C(green)(%cr)%Creset %C(bold blue)[%an]%Creset\"
	st = status -sb
	gl = config --global -l
	last = log -1 HEAD --stat
	pr = pull --rebase=merges --autostash
	done = push origin HEAD
	del = branch -d
	co = checkout
	cob = checkout -b
	d = diff
	ds = diff --stat
    dc = diff --cached
	a = add -p
	all = add -A
	cm = commit -m
	cam = commit -a -m
	amend = commit --amend --verbose
	rao = remote add origin
[core]
	pager = less -FRX
[fetch]
	prune = true